<h2>Files and Folders</h2>

<table style="border: 1px solid; margin-left: 100px;">
  <tr>
    <th style="padding: 5px 10px 5px 10px">Sl.No</th>
    <th style="padding: 5px 10px 5px 10px">File Name</th>
    <th style="padding: 5px 10px 5px 10px">Permissions</th>
  </tr>
  {{#each this.files as |file|}}
        <tr>
            <td style="padding: 5px 10px 5px 10px">{{file.id}}</td>
            <td style="padding: 5px 10px 5px 10px">{{file.fname}}</td>
            <td style="padding: 5px 10px 5px 10px">
                {{#each file.permissions as |permission|}}
                <span style="padding-left: 2px;">{{permission}}</span>
                {{/each}}
            </td>
        </tr>
  {{/each}}
</table>