{{page-title "EmberRoleBasedLogin"}}

<div class="title"><strong>FileSystem Manager</strong></div>


<LinkTo @route = "login-page">Login</LinkTo>
{{!-- <LinkTo @route = "container">Container</LinkTo> --}}

{{outlet}}